<div>
    <div class="row top-10">
        <div class="col-md-12">
            <button class="btn btn-lg center-block" ng-click="viewDiscussions()" translate="back-to-duscussion-list"></button>
        </div>
    </div>

    <div class="row top-10" ng-show="patient">
        <div class="col-md-5 col-md-offset-4">
            <dl class="dl-horizontal">
                <dt>{{'patient'|translate}}:</dt><dd>{{patient.name}}</dd>
                <dt>{{'family-doctor'|translate}}:</dt><dd>{{patient.familyDoctor || 'Not Specified'}}</dd>
                <dt>{{'phone'|translate}}:</dt><dd>{{patient.phone || 'Not Specified'}}</dd>
            </dl>
        </div>
    </div>

    <div class="row top-10"></div>

    <div class="row" ng-repeat="(threadId, messages) in messageThreads" ng-init="isExpanded = false">

        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title" ng-hide="isExpanded">
                        {{'inquiry-about'|translate}} <strong>{{messages[messages.length-1].Data.subject}}</strong> <small>{{'started-on'|translate}} {{messages[messages.length-1].Data.sentOnFormatted()}}</small>
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-primary btn-sm" ng-click="respond(threadId)" translate="respond"></button>
                        <button data-widget="collapse" class="btn btn-default btn-sm" ng-click="isExpanded = !isExpanded">
                            <i class="fa" ng-class="{ 'fa-minus' : isExpanded, 'fa-plus' : !isExpanded }"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" ng-show="isExpanded">
                    <ul class="timeline">
                        <li ng-repeat="m in messages">
                            <i class="fa  {{m.Data.css()}}"></i>
                            <div class="timeline-item">
                                <span class="time">{{m.Data.sentOnFormatted()}}</span>

                                <h3 class="timeline-header"><a href="#">{{m.Data.writerName || m.Data.writerId}}</a> {{'wrote'|translate}}</h3>

                                <div class="timeline-body">
                                    <h4>{{m.Data.subject}}</h4>
                                    <p>{{m.Data.content}}</p>
                                    <div ng-repeat="image in m.Data.images track by $index" imagelightbox>
                                        <a rel="{{threadId}}" ng-href="{{imgUrl(image.id)}}" class="swipebox">
                                            <img ng-src="{{imgUrl(image.id)}}" alt="image" class="margin image-thumb">
                                        </a>
                                        <!--<div ng-repeat="image in m.Data.images track by $index" ng-click="openImage(image)" class="margin image-thumb imagelightbox" ng-style="{'background-image': cssUrl(image.id)}"></div>-->
                                    </div>
                                    <questionnaire-view questionnaire="m.Data.questionnaire" ng-show="m.Data.questionnaire"></questionnaire-view>
                                </div>

                                <div class='timeline-footer'>

                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-clock-o"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>