<div>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary btn-block btn-lg" ng-click="respond()">Respond</button>
		</div>
	</div>
	<div class="row top-10">
		<div class="col-md-12">
			<button class="btn btn-lg center-block" ng-click="viewDiscussions()">Back to Discussions list</button>
		</div>
	</div>
	<div class="row top-10">
		<div class="col-md-12">
			<ul class="timeline">
				<!--<li class="time-label">
					<span class="bg-green">
						10 Feb. 2014
					</span>
				</li>-->
				<li ng-repeat="m in messages">
					<i class="fa {{m.Data.css()}}"></i>
					<div class="timeline-item">
						<span class="time">{{m.Data.sentOn}}</span>

						<h3 class="timeline-header"><a href="#">{{m.Data.writerName || m.Data.writerId}}</a> wrote...</h3>

						<div class="timeline-body">
							<h4>{{m.Data.subject}}</h4>
							<p>{{m.Data.content}}</p>
							<div>
								<div ng-repeat="image in m.Data.images track by $index" ng-click="openImage(image)" class="margin image-thumb" ng-style="{'background-image': cssUrl(image.id)}"></div>
							</div>
						</div>

						<div class='timeline-footer'>

						</div>
					</div>
				</li>
				<li>
					<i class="fa fa-clock-o"></i>
				</li>
			</ul>
		</div>
	</div>
</div>