<!DOCTYPE html>

<html lang="en" ng-app="eye-view-patient">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Eye View</title>

	<!-- build:css styles/styles-patient.css -->
	<link rel="stylesheet" href="styles/gfonts.css">

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link href="bower_components/AdminLTE/css/font-awesome.css" rel="stylesheet" />
	<link href="bower_components/AdminLTE/css/ionicons.css" rel="stylesheet" />
	<link href="bower_components/AdminLTE/css/AdminLTE.css" rel="stylesheet" />
	<link href="bower_components/swipebox/src/css/swipebox.css" rel="stylesheet" />

	<link href="styles/main.css" rel="stylesheet" />
	<!-- endbuild -->
</head>

<body class="skin-blue">

	<div ng-controller="uiRouter"></div>

	<header class="header" ng-show="currentUser">
		<span class="logo brand"></span>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" role="navigation">
			<div class="navbar-right">
				<ul class="nav navbar-nav">

					<li ng-controller="languageCtrl">
						<a class="clickable" ng-click="setLanguage('ro_RO')" ng-hide="currentLanguage() == 'ro_RO' || currentLanguage() == 'ro'">Switch to Romanian</a>
						<a class="clickable" ng-click="setLanguage('en_US')" ng-show="currentLanguage() == 'ro_RO' || currentLanguage() == 'ro'">Switch to English</a>
					</li>

                    <li ng-controller="termsCtrl">
                        <a class="clickable" ng-click="viewTerms()" translate="terms-and-conditions"></a>
                    </li>

					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
						<a class="dropdown-toggle clickable" data-toggle="dropdown">
							<i class="glyphicon glyphicon-user"></i>
							<span>{{currentUser.name}} <i class="caret"></i></span>
						</a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header bg-light-blue">
								<span ng-hide="currentUser.profileImageUrl" translate="no-image"></span>
								<img ng-show="currentUser.profileImageUrl" ng-src="{{currentUser.profileImageUrl}}" class="img-circle" />
								<p>
									{{currentUser.name}}
									<!--<small>Member since Nov. 2012</small>-->
								</p>
							</li>
							<!-- Menu Body -->
							<!--<li class="user-body">
								<div class="col-xs-6 text-center">
									<a href="#">History</a>
								</div>
								<div class="col-xs-6 text-center">
									<a href="#">Images</a>
								</div>
							</li>-->
							<!-- Menu Footer-->
							<li class="user-footer">
								<!--<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Profile</a>
								</div>-->
								<div class="pull-right" ng-controller="login">
									<a class="btn btn-default btn-flat clickable" ng-click="logout()" translate="sign-out"></a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<!--<div class="right-side">
		<section class="content-header">
			<h1>
				Discussion Thread
			</h1>
		</section>
	</div>-->

	<div class="brand large center-block" ng-hide="currentUser"></div>

	<section class="content" ng-view></section>

	<!-- build:js scripts/patient.js -->
	<script src="bower_components/jsSHA/src/sha.js"></script>
	<script src="bower_components/h.dataStore/h.dataStore.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/lodash/dist/lodash.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
	<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/notifyjs/dist/notify.js"></script>
    <script src="bower_components/notifyjs/dist/styles/bootstrap/notify-bootstrap.js"></script>
	<script src="bower_components/swipebox/src/js/jquery.swipebox.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment/locale/ro.js"></script>

	<script src="scripts/common/module.js"></script>
	<script src="scripts/common/dataStore.js"></script>
	<script src="scripts/common/messenger.js"></script>
	<script src="scripts/common/notifier.js"></script>
	<script src="scripts/common/message.js"></script>
    <script src="scripts/common/image.js"></script>
    <script src="scripts/common/uiNotifier.js"></script>
    <script src="scripts/common/questionnaire.js"></script>
    <script src="scripts/common/questionnaireViewDrtv.js"></script>
	<script src="scripts/common/hasher.js"></script>
	<script src="scripts/common/languageCtrl.js"></script>
	<script src="scripts/common/imageLightboxDrtv.js"></script>
    <script src="scripts/common/termsCtrl.js"></script>

	<script src="scripts/registration/module.js"></script>
    <script src="scripts/registration/registerUserCtrl.js"></script>
	<script src="scripts/registration/validateRegistrationCtrl.js"></script>
	<script src="scripts/registration/registration.js"></script>
	<script src="scripts/registration/dataStore.js"></script>

	<script src="scripts/users/module.js"></script>
	<script src="scripts/users/user.js"></script>
	<script src="scripts/users/createUserCtrl.js"></script>
	<script src="scripts/users/loginCtrl.js"></script>
	<script src="scripts/users/dataStore.js"></script>
	<script src="scripts/users/authenticator.js"></script>

	<script src="scripts/patient/module.js"></script>
    <script src="scripts/patient/questionnaireDrtv.js"></script>
	<script src="scripts/patient/talkThreadCtrl.js"></script>
	<script src="scripts/patient/sendInquiryCtrl.js"></script>

	<script src="scripts/app.js"></script>

	<script src="scripts/adminlte_wireup.js"></script>
	<!-- endbuild -->
</body>

</html>