<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".json" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".pdf" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
    </staticContent>
	</system.webServer>
</configuration>
